html {
    background-color: #eee;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

td {
	margin: 500;
}

/*taken from http://stackoverflow.com/questions/4397142/cannot-put-margin-on-td-tag-with-neither-css-nor-cellspacing-attribute */
table {
        border-collapse: separate;
        border-spacing: 10px 10px;
        padding-top: 20px;
      }

#translationTitle {
	font-size: 40px;
	margin-left: 10px;
}

.incorrect{
	color: red;
}

.incorrect-answer{
	color: red;
	text-decoration: line-through;
}

.correct{
	color: blue;
}

.unanswered{
	color: black;
}